<h2 style="background-color:red;font-size:45px;">Fake Twitter</h2>

<div id="inputtweet">
  <%= form_for @new_tweet do |f| %>
    <% if @new_tweet.errors.any? %>
      <p style="color:red;font-weight:bold;font-family:sans-serif;font-size:20px;">Your tweet is bad and you should feel bad (min. 1, max. 140)</p>
    <% end %>
    <div>
      <%= f.text_field :tweet %>
      <%= f.submit 'Tweet' %>
    </div>
  <% end %>
</div>

<div id="tweets">
  <% @tweets.each do |tweet|%>
    <h3><%= tweet.tweet %></h3>
    <h4>Created at: <%= tweet.created_at %></h4>
    <hr />
  <% end %>
</div>